body{
background-color: rgb(89, 109, 161);


}

h1 {
    color: black;
}

h2 { 
    color: rgb(10, 27, 48);
}

ul {display:flex;
   justify-content:space-between;
   list-style: none;
   align-items: center; 
   padding: 50px;
}
    a {  
        color: rgb(6, 21, 153);
        text-decoration: none;
    }

 img {
    width: 350px;
    height: 400px;
    border-radius: 30%;
 }

.center{ 
    text-align: center;

} 

